.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 90%;
  height: 100%;
}

.item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  justify-items: center;
}
